<a href="https://colab.research.google.com/github/lapshinaaa/homework_machineLearning/blob/main/hw02_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [2]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [3]:
#getting all the files we need:

!wget "https://github.com/hse-ds/iad-intro-ds/raw/master/2023/homeworks/Data.zip"
!unzip "Data.zip"

--2023-02-13 18:57:42--  https://github.com/hse-ds/iad-intro-ds/raw/master/2023/homeworks/Data.zip
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2023/homeworks/Data.zip [following]
--2023-02-13 18:57:42--  https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2023/homeworks/Data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16727 (16K) [application/zip]
Saving to: ‘Data.zip’

Data.zip            100%[===================>]  16.33K  --.-KB/s    in 0s

2023-02-13 18:57:42 (54.1 MB/s) - ‘Data.zip’ saved [16727/16727]

Archive:  Data.zip
   creating: Data/
  inflating: Data/Students_info_0.csv
  inflating: Data/Students_info_1.csv
  inflating: Data/Students_info_2.csv
  inflating: Data/Students_info_3.csv
  inflating: Data/Students_info_4.csv
  inflating: Data/Students_info_5.csv
  inflating: Data/Students_info_6.csv
  inflating: Data/Students_info_7.csv
  inflating: Data/Students_info_8.csv
  inflating: Data/Students_info_9.csv
  inflating: Data/Students_marks_0.csv
  inflating: Data/Students_marks_1.csv
  inflating: Data/Students_marks_2.csv
  inflating: Data/Students_marks_3.csv
  inflating: Data/Students_marks_4.csv
  inflating: Data/Students_marks_5.csv
  inflating: Data/Students_marks_6.csv
  inflating: Data/Students_marks_7.csv
  inflating: Data/Students_marks_8.csv
  inflating: Data/Students_marks_9.csv

In [4]:
import glob

folder_path = 'Data/'
file_list_info = glob.glob(folder_path + "Students_info_*.csv")
file_list_grades = glob.glob(folder_path + "Students_marks_*.csv")

df_info = pd.concat(map(pd.read_csv, file_list_info))
df_grades = pd.concat(map(pd.read_csv, file_list_grades))

df_students = df_info.merge(df_grades)
df_students.head(10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,600,female,group D,master's degree,standard,none,group7,54,60,63
1,601,female,group C,high school,standard,none,group7,29,29,30
2,602,female,group E,some college,standard,none,group7,76,78,80
3,603,male,group D,high school,free/reduced,none,group7,60,57,51
4,604,male,group D,master's degree,free/reduced,completed,group7,84,89,90
5,605,male,group C,some high school,standard,none,group7,75,72,62
6,606,female,group C,associate's degree,standard,none,group7,85,84,82
7,607,female,group C,master's degree,free/reduced,none,group7,40,58,54
8,608,female,group E,some college,standard,none,group7,61,64,62
9,609,female,group B,associate's degree,standard,none,group7,58,63,65

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [5]:
df1 = df_students.drop('index', axis=1)
df1.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group D,master's degree,standard,none,group7,54,60,63
1,female,group C,high school,standard,none,group7,29,29,30
2,female,group E,some college,standard,none,group7,76,78,80
3,male,group D,high school,free/reduced,none,group7,60,57,51
4,male,group D,master's degree,free/reduced,completed,group7,84,89,90
5,male,group C,some high school,standard,none,group7,75,72,62
6,female,group C,associate's degree,standard,none,group7,85,84,82
7,female,group C,master's degree,free/reduced,none,group7,40,58,54
8,female,group E,some college,standard,none,group7,61,64,62
9,female,group B,associate's degree,standard,none,group7,58,63,65

#### Задание 3. Выведите на экран размеры полученной таблицы

In [6]:
print(df1.shape)

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [7]:
# one way of doing this
df2 = df1.agg({"math score": ["min", "max", "std", "mean"], "reading score": ["min", "max", "std", "mean"], "writing score": ["min", "max", "std", "mean"]})  
print(df2)

# or we can also use separate characteristics:
df1.describe()

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
std     15.16308      14.600192      15.195657
mean    66.08900      69.169000      68.054000

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [8]:
df1.isnull().values.any() # check for missing values

#output: False -> no missing values found

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
print(df1[['math score', 'reading score', 'writing score']].mean())  # calculating average values

#second option:
#print(df1.agg({'math score': ['mean'], 'reading score': ['mean'], 'writing score': ['mean']}))

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [ ]:
print(df1.loc[df1['test preparation course'] == 'completed',['math score', 'reading score', 'writing score']].mean())
print(df1.loc[df1['test preparation course'] == 'none',['math score', 'reading score', 'writing score']].mean())

math score       69.695531
reading score    73.893855
writing score    74.418994
dtype: float64
math score       64.077882
reading score    66.534268
writing score    64.504673
dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [ ]:
print(df1['lunch'].unique())  # all unique values of the given column

['standard' 'free/reduced']

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [ ]:
df1.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"}, inplace = True)
df1.head(1)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,male,group C,some high school,standard,completed,group9,67,73,68

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
import numpy as np

# question 1:
print(np.sum(df1['math score'] >= passmark) / df1.shape[0])  # who passed divided by the overall number of students

#question 2:
print(np.sum((df1['math score'] >= passmark) & (df1['test preparation'] == 'completed')) / np.sum(df1['test preparation'] == "completed"))

#question 3:
print(np.sum((df1['gender'] == 'female') & (df1['test preparation'] == 'none') & (df1['math score'] < passmark))/ np.sum((df1['gender'] == 'female') & (df1['test preparation'] == 'none')))

0.865
0.9217877094972067
0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
# grouping by ethnicity
%%time
df1.groupby('race/ethnicity')['reading score'].apply(np.mean)

CPU times: user 2.61 ms, sys: 999 µs, total: 3.61 ms
Wall time: 3.65 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [ ]:
# comparing min scores among different levels of education
%%time
df1.groupby('education')['writing score'].apply(min)

CPU times: user 4.04 ms, sys: 0 ns, total: 4.04 ms
Wall time: 7.52 ms

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
# for ethnicity:

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
# based on gender:
table = pd.pivot_table(df1, values = ['math score', 'reading score', 'writing score'], index = ['gender', 'education'], aggfunc = {'math score': np.mean, 'reading score': np.mean, 'writing score': np.mean})
table

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
def grade_determination(grade) -> str:
  '''Function for determining grades of students'''
  if grade < passmark:
    return "F"
  else:
    return "P"


df_students['Math_PassStatus'] = df_students['math score'].apply(grade_determination)
print('Proportion of failure/success at math: \n', df_students['Math_PassStatus'].value_counts())

df_students['Reading_PassStatus'] = df_students['reading score'].apply(grade_determination)
print('Proportion of failure/success at reading: \n', df_students['Reading_PassStatus'].value_counts())

df_students['Writing_PassStatus'] = df_students['writing score'].apply(grade_determination)
print('Proportion of failure/success at writing: \n', df_students['Writing_PassStatus'].value_counts())

# demonstrating final result in the table
df_students.head(5)

Proportion of failure/success at math:
 P    865
F    135
Name: Math_PassStatus, dtype: int64
Proportion of failure/success at reading:
 P    910
F     90
Name: Reading_PassStatus, dtype: int64
Proportion of failure/success at writing:
 P    886
F    114
Name: Writing_PassStatus, dtype: int64

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus
0,800,male,group C,some high school,standard,completed,group9,67,73,68,P,P,P
1,801,male,group C,some high school,standard,completed,group9,76,80,73,P,P,P
2,802,female,group E,associate's degree,standard,none,group9,87,94,95,P,P,P
3,803,female,group B,some college,standard,none,group9,82,85,87,P,P,P
4,804,female,group C,some college,standard,none,group9,73,76,78,P,P,P

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
def pass_status(df):
    if ((df['math score'] >= passmark) & (df['writing score'] >= passmark) & (df['reading score'] >= passmark)) :
        return "P"
    else:
        return "F"

df_students['OverAll_PassStatus'] = df_students.apply(pass_status, axis = 1)

#demonstrating the result:
#df_students.head(10)  

df_students.loc[df_students.OverAll_PassStatus == 'P', 'OverAll_PassStatus'].count()

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [23]:
def GetGrade(average_mark: int) -> str:
    if average_mark < 50:
      return 'F'    

    elif (average_mark >= 50) & (average_mark < 60):
      return 'E'

    elif (average_mark >= 60) & (average_mark < 70):
      return 'D'

    elif (average_mark >= 70) & (average_mark < 80):
      return 'C'

    elif (average_mark >= 80) & (average_mark < 90):
      return 'B'

    else:
      return 'A'



df_students['Grade'] = df_students.apply(lambda x: GetGrade(x[['math score', 'writing score', 'reading score']].mean()), axis = 1)
df_students.head(10)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score,Grade
0,600,female,group D,master's degree,standard,none,group7,54,60,63,E
1,601,female,group C,high school,standard,none,group7,29,29,30,F
2,602,female,group E,some college,standard,none,group7,76,78,80,C
3,603,male,group D,high school,free/reduced,none,group7,60,57,51,E
4,604,male,group D,master's degree,free/reduced,completed,group7,84,89,90,B
5,605,male,group C,some high school,standard,none,group7,75,72,62,D
6,606,female,group C,associate's degree,standard,none,group7,85,84,82,B
7,607,female,group C,master's degree,free/reduced,none,group7,40,58,54,E
8,608,female,group E,some college,standard,none,group7,61,64,62,D
9,609,female,group B,associate's degree,standard,none,group7,58,63,65,D